h1 {
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(13)  alternate,
        blink 800ms steps(13)  normal;
    border-right: 5px solid rgb(255, 255, 255);
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 130%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: initial;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


.gif {
    border-radius: 10px;
}